---
import Logo from "../../public/logo.svg";
import LuRssIcon from "../../public/lucide_rss.svg";
import LuSearchIcon from "../../public/lucide_search.svg";
import {pathBuilder} from "../utils";
---

<header class="container">
    <div>
        <a href={pathBuilder.home()}>
            <Logo class="logo" />
        </a>
    </div>

    <nav>
        <ul>
            <li><a href={pathBuilder.whoAmI()}>Обо мне</a></li>
        </ul>
    </nav>

    <div>
        <a class="rss-link" href={pathBuilder.rss()} target="_blank">
            <LuRssIcon />
        </a>

        <a class="open-search-button" href={pathBuilder.search()}>
            <LuSearchIcon />
        </a>
    </div>
</header>

<style>
    header {
        display: flex;
        justify-content: space-between;
        padding-block: 2rem;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        gap: 0.5rem;
    }

    .logo {
        width: 2rem;
        height: 2rem;
    }

    .rss-link {
        text-decoration: none;
    }

    .open-search-button {
        padding: 0;
        margin: 0;
        border: none;
        background: none;
    }

    .rss-link,
    .open-search-button {
        font-size: 1.2rem;
    }
</style>
